$font-family-main: "Mont", arial, helvetica, sans-serif;

$color-white: #fff;
$color-primary: #313237;
$color-secondary: #89939a;
$color-red: #ff0000c7;
$color-yellow: #fdec00;
$color-blue: #3e8ed0;
$color-lightblue: #d4e5f161;
$color-purple: #eb22bff5;
